{% for i in appointments %}
<div class="col-md-6 mb-4">
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <h5 class="card-title">{{i.patient}}</h5>
            <p><strong>Date:</strong> {{i.date}}</p>
            <p><strong>Time:</strong> {{i.time}}</p>
            <p><strong>Status:</strong> 
                <span class="badge bg-success">{{i.status}}</span>
            </p>
            <div class="d-flex gap-2">
                        <button class="btn btn-sm btn-outline-primary">Reschedule</button>
                        <button class="btn btn-sm btn-outline-danger">Cancel</button>
                    </div>
        </div>
    </div>
</div>
{% empty %}
<div class="col-12 text-center text-muted">
    No appointments found
</div>
{% endfor %}